@import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/scss/_variables.scss";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active-link {
    color: $active-link-color !important;
    background-color: $light-blue-bg;
}
